@model SearchListViewModel

@{
    Layout = "_LayoutPage";
}

<h3 style="margin-top:30px;color:#1F618D">
    <i class="fa fa-plus"></i>&nbsp;@ViewBag.Title
</h3>
<hr />

@if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <b>NOTE:</b>&nbsp;@Html.ValidationSummary(true)
    </div>
}

<form asp-action="AddCondition" method="post">
    <input type="hidden" asp-for="@Model.conditionsListViewModel.condition.Id" value="0" />

    @await Html.PartialAsync("AddConditionInfo")

    <hr />
    <center style="margin-bottom:80px">
        <button type="submit" class="btn btn-primary w-25">
            <i class="fa fa-save"></i>&nbsp;Save
        </button>
        <a asp-action="ListCondition" class="btn btn-secondary w-25">
            <i class="fa fa-ban"></i>&nbsp;Cancel
        </a>
    </center>
</form>
