@{
    Layout = "_LayoutUser";
}

<div class="row" style="margin-top:30px">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="card text-center" style="border:0">
            <img class="card-img-top img-thumbnail" src="~/images/success.png" alt="success image"
                    style="width:256px;height:256px;margin:auto;border:0">
            <div class="card-body">
                <h5 class="card-title">Verification Complete!</h5>
                <p class="card-text">You may now use your credentials to login.</p>
                <a asp-controller="Book" asp-action="Index" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>