@{
    Layout = "_LayoutUser";
}

<div class="row" style="margin-top:30px">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="card text-center" style="border:0">
            <img class="card-img-top img-thumbnail" src="~/images/expired.png" alt="success image"
                    style="width:256px;height:256px;margin:auto;border:0">
            <div class="card-body">
                <h5 class="card-title">Uh-oh! Verification error.</h5>
                <p class="card-text">Probably the verification code provided is invalid.</p>
                <p class="card-text">Go back to receive a new one.</p>
                <a href="javascript:history.go(-1)" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>