<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buying Tips</title>
    <link rel="stylesheet" href="/css/StyleSheet.css"/>
</head>
<body>
    <div id="allPage">
        <h3>Buying Tips</h3>
        <p><img alt="BuyingTips" height="256" src="~/images/BuyingTips.jpg" width="433"></p>
        <p>Below is our website buying tips for you:</p>
        <ul>
            <li>Tip 1: Click Register button to register. </li>
            <li>Tip 2: Login your account.</li>
            <p>If you are a buyer:</p>
            <li>Tip 3: You could search used textbook information by name, or filter by category and price range.</li>
            <li>Tip 4: You could view details of the book and contact information of the seller.</li>
            <li>Tip 5: Just contact the seller from the contact information of the seller.</li>
            <li>Tip 6: You could see your profile and edit.</li>
            <p>If you are a seller:</p>
            <li>Tip 7: Click sell book button and fill the information then click save button.</li>
            <li>Tip 8: You could click your books button to see the textbooks information your posted.</li>
        </ul>
        <br>
        <a asp-action="Index">Back to Home Page</a>
       </div>
</body>
</html>
